<h1> all invite friend </h1>
<% @users.each do |user| %>
	<% if user.friended?(current_user) && !current_user.friended?(user) %>
		<%= link_to user.name, user %>
		<%= form_for [current_user, @user_friendship.build(friend_id: user.id)] do |f| %>
		  <%= f.hidden_field :friend_id %><%= f.submit "accept invite", class: "btn btn-tiny btn-primary" %>
		<% end %>
	<% end %>
<% end %>