<% provide(:title, "All friend") %>
<h1>All friends (<%= @user.friendships.count %>)</h1>

<% @user.friendships.each do |friendship| %>
  <li><%= link_to friendship.friended.name, friendship.friended %></li>
<% end %>

<%= render "invite_friend" %>