<div class="album">
  <h3> All images </h3>
  <% @album.images.each do |image| %>
    <%= link_to image_tag(image.photo), user_album_image_path(@user, @album, image), html_options = {class: "fancybox", rel:"image"} %>
    <%= link_to image_tag("https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png"), user_album_image_path(current_user, @album, image), method: :delete, confirm:"Are you sure?", class:"button-delete" if current_user? @user %>
  <% end %>
  <% if current_user? @user %>
    <%= render "images/new" %>
  <% end %>
</div>