 .status-comment {
  background: #edeff4;
  border-bottom: 1px solid #fff;
  padding: 5px;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  span.post-time {
    color: #aaa;
  }
  .left {
    float: left;
    width: 32px;
  }
  .right {
    float: left;
    padding: 5px;
  }
  .clearfix {
    clear: both;
  }
 }

.nav.nav-list > img {
    cursor: pointer;
}
.edit-comment-status {
    width: 475px;
}

.status-user {
  border-bottom: 1px solid #E9E9E9;
  padding-top: 18px;
}

.menu_user {
  display: inline-flex;
  list-style: none outside none;
  width: 550px;
  border: 1px solid;
  margin-bottom: 10px;
  text-align: center;
  height: 30px;
  padding-top: 5px;
  background-color: #008F47;
  > li {
    width: 25%;
    font-weight: bold;
    line-height: 1;
      >a {color: white;
        text-decoration: none;
      }
  }
}
.input_new > input {
    width: 295px;
}

.field_with_errors > input {
    width: 295px;
}
#error_explanation {
  color: #B94A48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.reight_sidebar {
  float: left;
  margin-left: 10px;
  width: 320px;
  ul{
    list-style: none outside none;
  }
}

.activities_content{
  border-bottom: 1px solid #E9E9E9;
  margin-left: 40px;
  margin-top: -35px;
  text-align: inherit;
  font-size: 12px;
  min-height: 40px;
}
.activities {
  margin-bottom: 10px;
  text-align: inherit;
}