 .status-comment {
  background: #edeff4;
  border-bottom: 1px solid #fff;
  padding: 5px;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  span.post-time {
    color: #aaa;
  }
  .left {
    float: left;
    width: 32px;
  }
  .right {
    float: left;
    padding: 5px;
  }
  .clearfix {
    clear: both;
  }
 }
 #fancybox-outer > a {
    width: 40px;
}
.nav.nav-list > img {
    cursor: pointer;
}